form.signup,
form.login {
  margin-top: 50px;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.app-main {
  min-height: 100vh; 
  position: relative;
}

footer {
  position: absolute;
  bottom: 0; 
}

.notifybtn {
  color:white;
}